<!DOCTYPE html>
<html ng-app="home" ng-controller="homeCtrl">
    <head>
        <title>Gimme some votes</title>
        
    </head>
    <header>
        <p>Welcome, {{username}}</span></p>
    </header>
    
    <body>
        <div ng-controller="pollPostCtrl">
            <h2>Create a poll</h2>
            <form onclick="return false;">
                <div>
                    <label>Topic </label>
                    <input type="text" name="" ng-model="polltopic" placeholder="e.g. Who is the best Chess player?">
                </div>
                <div ng-repeat="choice in choices">
                    <label>Choice </label>
                    <input type="text" name="" ng-model="choice.name">
                    <button ng-click="deleteChoice();" ng-show="$last">-</button>
                </div>
                <button ng-click="addChoice();">Add choice</button>
                <button ng-click="postPoll();" >Create</button>
            </form>
            <div ng-show="showPoll">
                <h2>Poll: {{ptShow}}</h2>
                <ul ng-repeat="choice in chShow">
                    <li>{{choice.choice}} ({{choice.votes}} votes)</li>
                </ul>
            </div>
        </div>
        <a href='/logout'>Log out</a>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controllers/homeController.angular.client.js"></script>
    </body>
</html>