<!doctype html>
<html>
    <head>
        <title>Gimme some votes</title>
    </head>
    <body>
        <h1 id="poll-topic"></h1>
        <p>
            <ul id="choices">
                
            </ul>
        </p>
        <script type='text/javascript' src="/controllers/pollCOntroller.client.js"></script>
    </body>
</html>