<!doctype html>
<html>
    <head>
        <title>Gimme some votes</title>
    </head>
    <body>
        <div ng-app="poll" ng-controller="pollDisplayCtrl">
        <h1>{{topic}}</h1>
            <p>
                <ul ng-repeat="choice in choices">
                    <li>{{choice}}</li>
                </ul>
            </p>
        </div>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
        <script type='text/javascript' src="/controllers/pollController.client.js"></script>
    </body>
</html>