<!DOCTYPE html>
<html>
    <head>
        <title>Gimme some votes</title>
    </head>
    <body>
        <form action="/signup" method="post">
            <% if (message.length > 0) { %>
                <div><%= message %></div>
            <% } %>
            <div>
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <label>Display Name</label>
                <input type="text" name="displayname">
            </div>
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>